<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<parameter name="URl" value="http://testfire.net/index.jsp"></parameter>
	<parameter name="IncorrectUserName" value="demo_user"></parameter>
	<parameter name="IncorrectPassword" value="demo_pass"></parameter>
	<parameter name="UserName" value="admin"></parameter>
	<parameter name="Password" value="admin"></parameter>
	<parameter name="TransferAmount" value="9876"></parameter>
	<parameter name="EmailId" value="abc@gmail.com"></parameter>
	<parameter name="Name" value="abc"></parameter>
	<parameter name="Subject" value="subject added"></parameter>
	<parameter name="Comment" value="Comment Added"></parameter>
	<parameter name="AccDDValue" value="800001"></parameter>
	<test thread-count="5" name="Test">
		<classes>
			<class name="TestSteps.AssesMent" />
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
